.grid-container {
    border: dashed blue;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 50px;
    padding: 10px;
}

.grid-item {
    border: dashed red;
    margin: 5px;
    background-color: black;
    text-align: center;
    color:aliceblue;
}

.inline-style-grid-container {
    display: grid;
    grid-template: 50% 50% / 1fr 1fr;
    border: dashed purple;
    padding: 10px;
    height: 300px

}

.grid-gap-demo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 45px);
    border: dashed aqua;
    padding: 10px;
    row-gap: 20px;
    column-gap: 10px;
    gap: 2px 2px;

}