.grid-container {
    border: dashed blue;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 50px;
    padding: 10px;
}

.grid-item {
    border: dashed red;
    margin: 5px;
    background-color: black;
    text-align: center;
    color:aliceblue;
}

.inline-style-grid-container {
    display: grid;
    grid-template: 50% 50% / 1fr 1fr;
    border: dashed purple;
    padding: 10px;
    height: 300px

}

.grid-gap-demo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 45px);
    border: dashed aqua;
    padding: 10px;
    row-gap: 20px;
    column-gap: 10px;
    gap: 2px 2px;

}

.span-demo-container {
    display: grid;
    border: dashed;
    padding: 10px;
    grid-template: 1fr 1fr / 25% 25% 25% 25%;
    column-gap: 10px;
    row-gap: 10px;
}

.item1 {
    text-align: center;
    border: dashed blue;
    grid-column: span 2;
    background-color: bisque;
}

.item2 {
    text-align: center;
border: dashed blue;
background-color: lightblue;
}
.item3 {
    text-align: center;
    border: dashed blue;
    background-color: rgb(0, 0, 0);
    color: white;
    grid-column: span 3;
}